.root {
	-fx-background-color: #fff7ef;
}

.button {
	-fx-background-color: linear-gradient(#FA7C3E, #F7572F);
	-fx-background-radius: 6, 5;
	-fx-background-insets: 0, 1;

}

.button:hover{
    
    -fx-background-color: linear-gradient(#FF8D4F, #F96840);
 
}

.button:pressed{
    
    -fx-background-color: linear-gradient(#EB6B2D, #E6461E);
    
}


.list-cell{
    -fx-background-color: #FFFFFF;
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#FF5133, #FF9233);
    -fx-text-fill: white;
}


.list-cell:filled:hover {
    -fx-background-color: #F29797
}